* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'General Sans';

}

html,
body {
    width: 100%;
    height: 100%;
}
#mincir{
    transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
/* .bounding{
    width:fit-content;
    overflow: hidden; */

/* } */
/* .bounding .boundelem{
    transform: translateY(100%);
    
} */

#main {
    width: 100%;
    background-color: #000;

}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: rgb(254, 254, 254);
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading h1 {
    opacity: 0.8;
    line-height: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7vw;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

#heading {
    margin-top: 99px;
}

#heading #sec {
    margin-left: 100px;

}


.design {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;


}

#heading h5 {
    color: white;
    text-align: right;
}

#miniheading {
    display: flex ;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 2px;

}

#miniheading h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1.6vw;
    padding-bottom: .5vw;
    text-align: right;
}

#herofoot {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom:3%;
    display: flex;
    align-items: centre;
    justify-content: space-between;
}
#herofoot a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
#herofoot #iconset{
    display: flex ;
}
#iconset .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}
#second{
    padding-top: 4vw;
    background-color: #000;
    width: 100%;
    height: 100vh;

}
.ele{
    width:90%;
    padding:4vw 3vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 0;
    border-top:1px solid #888;
}
.ele h1{
    text-transform: uppercase;
    font-size: 5vw;
    opacity: .7;


}
.elelast{
    border-bottom: 1px solid #888;
}
.ele img{
    /* opacity: 0; */
    display: none;
    height: 30%;
    z-index: 999;
    position: absolute;
}
#about{
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;
    gap:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about img{
    width: 200px;
    
    border-radius: 70%;
}
#text p{
    margin-bottom: 30px;
}
#text a{
    padding: 12px 2px;
    text-decoration: none;
    border:solid #888;
    padding: 1vh;

    border-radius: 20%;
}
#footer{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
#footerleft{
    background-color:black;
    display: flex ;
    gap: 20px;



}
#footerright{
    display:flex;
    gap:30px;
}
#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
